<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<!--Metatags-->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatble" content="ie=edge"/>
		<!--Website Title-->
		<title>Cookie Policy</title>
		<!--Calling Favicon-->
		<link rel="icon" href="images/favicon.png" />
		<link rel="shortcut icon" href="images/favicon.ico" />
		<!--FontAwesome CDN-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
		<!--Normalize v8.0.1 CSS FILE-->
		<link rel="stylesheet" href="css/normalize.css"/>
		<!--Bootstrap v4.6.0 CSS FILE-->
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<!--Gabazzo Common CSS File-->
		<link rel="stylesheet" href="css/gabazzo.common.css" />
		<!--Fonts Are Loads From Here-->
		<link rel="stylesheet" href="fonts/fonts.css"/>
		<!--Main Stylesheet-->
		<link rel="stylesheet" href="css/updatedStyles.css"/>
		  <!--Stylesheet For The Responsiveness-->
                <link rel="stylesheet" href="css/responsive.css"/>
		<!--Stylesheet For The Night Mode-->
		<link rel="stylesheet" href="css/night.mode.css"/>
	</head>

	<body>

		<!--===== Markup For "Header" Starts From Here =====-->
<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="logo_mode_switching">
        <ul>
          <li>
            <a href="/" class="navbar-brand"
              ><img
                src="../images/layout/gabazzo_logo_white.png"
                class="img-fluid"
                alt=""
            /></a>
          </li>
          <li>
            <a class="mode_icon" href="javascript:void(0)">
              <img
                src="../images/layout/mode_icon_night.png"
                class="img-fluid night_icon"
                title="Night Mode"
                data-toggle="tooltip"
                alt=""
              />
              <img src="../images/layout/mode_icon_day.png" class="img-fluid day_icon" title="Day Mode" data-toggle="tooltip" alt=""/>
            </a>
          </li>
        </ul>
      </div>

      <div class="members_navbar">
        <div class="mobile_search_btn_menubar">
          <div class="cp_search_btn dropdown">
            <a
              href="javascript:void(0)"
              data-target="#companySearchBar"
              data-toggle="dropdown"
              class="nav-link"
              ><img
                src="../images/layout/search_icon_white.png"
                class="img-fluid"
                alt=""
            /></a>

            <div
              class="dropdown-menu company_search_down"
              aria-labelledby="companySearchBar"
            >
              <form action="">
                <div class="company_search_field">
                  <input
                    id="myInput"
                    type="search"
                    placeholder="Search..."
                    class="form-control"
                  />
                  <button class="btn" type="submit">
                    <img
                      src="../images/layout/search_icon_black.png"
                      class="black_icon"
                      alt=""
                    />
                    <img
                      src="../images/layout/search_icon_white.png"
                      class="white_icon"
                      alt=""
                    />
                  </button>
                </div>
              </form>
            </div>
          </div>

          <button
            class="navbar-toggler"
            data-target="#responsive-bar"
            data-toggle="collapse"
          >
            <div class="humbergur_icon">
              <span></span><span></span><span></span><span></span>
            </div>
          </button>

          <% if(currentUser) { %>
          <a
            href="javascript:void(0)"
            class="nav-link profile_pic_link membersProfilePic"
          >
            <div class="profile_pic">
              <% if (currentUser?.isCompany) { %> <% if(currentUser.logo) {
              %>
              <img src="<%= currentUser.logo %>" class="img-fluid" alt="" />
              <% } else {%>
              <img src="../images/man.png" class="img-fluid" alt="" />
              <% }%> <% } else { %> <% if(currentUser?.profilePicture) {%>
              <img
                src="<%= currentUser.profilePicture %>"
                class="img-fluid"
                alt="<%= currentUser.username %>"
              />
              <%} else {%>
              <img
                src="../images/man.png"
                class="img-fluid"
                alt="<%= currentUser.username %>"
              />
              <% }%> <% } %>
              <span class="activity_status online_status"></span>
            </div>
          </a>
          <% } %>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="responsive-bar">
        <div class="menus ml-auto">
          <ul class="navbar-nav services_menu">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >Construction Services</a
              >
              <div class="dropdown-menu">
                <ul class="dropdown_column">
                  <li>
                    <a
                      href="/search?category=roofing services"
                      class="dropdown-item"
                      >Roofing</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=landscaping services"
                      class="dropdown-item"
                      >Landscaping</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=junk removal"
                      class="dropdown-item"
                      >Junk Removal</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=masonry services"
                      class="dropdown-item"
                      >Masonry</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=plumbing services"
                      class="dropdown-item"
                      >Plumbing</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=hvac services"
                      class="dropdown-item"
                      >HVAC</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=pest control"
                      class="dropdown-item"
                      >Pest Control</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=painting services"
                      class="dropdown-item"
                      >Painting</a
                    >
                  </li>
                </ul>
                <ul class="dropdown_column">
                  <li>
                    <a
                      href="/search?category=flooring services"
                      class="dropdown-item"
                      >Flooring</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=electrical services"
                      class="dropdown-item"
                      >Electrical</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=moving services"
                      class="dropdown-item"
                      >Moving</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=appliance services"
                      class="dropdown-item"
                      >Appliance</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=locksmith services"
                      class="dropdown-item"
                      >Locksmith</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >Vehicle Services</a
              >
              <div class="dropdown-menu">
                <ul class="dropdown_column">
                  <li>
                    <a
                      href="/search?category=towing services"
                      class="dropdown-item"
                      >Towing</a
                    >
                  </li>
                  <li>
                    <a
                      href="/search?category=vehicle repair"
                      class="dropdown-item"
                      >Vehicle Repair</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav access_menu">
            <li
              class="nav-item cp_search_btn cp_search_btn_desktop dropdown"
            >
              <a
                href="javascript:void(0)"
                data-target="#companySearchBar"
                data-toggle="dropdown"
                class="nav-link"
                ><img
                  src="../images/layout/search_icon_white.png"
                  class="img-fluid"
                  alt=""
              /></a>
              <div
                class="dropdown-menu company_search_down"
                aria-labelledby="companySearchBar"
              >
                <form action="">
                  <div class="company_search_field">
                    <input
                      id="myInput"
                      type="search"
                      placeholder="Search..."
                      class="form-control"
                    />
                    <button class="btn" type="submit">
                      <img
                        src="../images/layout/search_icon_black.png"
                        class="black_icon"
                        alt=""
                      />
                      <img
                        src="../images/layout/search_icon_white.png"
                        class="white_icon"
                        alt=""
                      />
                    </button>
                  </div>
                </form>
              </div>
            </li>
            <% if(currentUser) { %>
            <li class="nav-item desktop_only_link">
              <a
                href="/inbox/<%= lastMessage?.messages?.receiver.id %>"
                class="nav-link"
                >Messages</a
              >
            </li>
            <% if(currentUser && !currentUser.isCompany) { %>
            <li class="nav-item desktop_only_link">
              <a href="/saved-list" class="nav-link">Saved List</a>
            </li>
            <% } %>
            <li class="nav-item profile_pic_desktop">
              <a
                href="javascript:void(0)"
                class="nav-link profile_pic_link membersProfilePic"
              >
                <div class="profile_pic">
                  <% if (currentUser?.isCompany) { %> <%
                  if(currentUser.logo) { %>
                  <img
                    src="<%= currentUser.logo %>"
                    class="img-fluid"
                    alt=""
                  />
                  <% } else {%>
                  <img src="../images/man.png" class="img-fluid" alt="" />
                  <% }%> <% } else { %> <% if(currentUser.profilePicture)
                  {%>
                  <img
                    src="<%= currentUser.profilePicture %>"
                    class="img-fluid"
                    alt="<%= currentUser.username %>"
                  />
                  <%} else {%>
                  <img
                    src="../images/man.png"
                    class="img-fluid"
                    alt="<%= currentUser.username %>"
                  />
                  <% }%> <% } %>
                  <span class="activity_status online_status"></span>
                </div>
              </a>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a href="/login" class="nav-link sign_in">Sign In</a>
            </li>
            <li class="nav-item">
              <a href="/sign-up" class="nav-link gbtn gbtn_white_bdr"
                >Sign Up</a
              >
            </li>
            <li class="nav-item">
              <a href="/become-a-seller-overview" class="nav-link gbtn"
                >Become a Seller</a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<!--===== Markup For "Header" Ends Here =====-->
<% if(currentUser) { %>
<!--===== Markup For "Members Profile Link" Starts From Here =====-->
<div class="membersProfileLinks">
  <div class="dismissMembersProfileLinks">
    <i class="fa fa-times"></i>
  </div>
  <div class="members_profile_pic">
    <% if (currentUser?.isCompany) { %> <% if(currentUser.logo) { %>
    <a href="javascript:void(0)"
      ><img
        src="<%= currentUser.logo %>"
        class="img-fluid"
        alt="<%= currentUser.username %>"
    /></a>
    <% } else {%>
    <a href="javascript:void(0)"
      ><img src="../images/man.png" class="img-fluid" alt="profile Picture"
    /></a>
    <% }%>
    <h6><%= currentUser.companyName %></h6>
    <% } else { %> <% if(currentUser?.profilePicture) {%>
    <a href="javascript:void(0)"
      ><img
        src="<%= currentUser.profilePicture %>"
        class="img-fluid"
        alt="<%= currentUser.username %>"
    /></a>
    <%} else {%>
    <a href="javascript:void(0)"
      ><img src="../images/man.png" class="img-fluid" alt="profile picture"
    /></a>
    <% }%>
    <h6><%= currentUser.firstName + " " + currentUser.lastName %></h6>
    <% } %>
  </div>
  <div class="profile_links">
    <% if (currentUser.isCompany) { %>
    <ul>
      <li>
        <i class="fas fa-user"></i>
        <a href="/company-dashboard">View Dashboard</a>
      </li>
      <li class="mobile_only">
        <i class="fas fa-envelope"></i>
        <a href="/inbox/<%= lastMessage?.messages?.receiver.id %>">Messages</a></li>
      <li><i class="fas fa-shopping-cart"></i><a href="/manage-orders">Manage Orders</a></li>
      <li><i class="fas fa-cog"></i><a href="/company-settings/account">Settings</a></li>
      <li><i class="fas fa-power-off"></i> <a href="/logout">Logout</a></li>
    </ul>
    <% } else { %>
    <ul>
      <li><i class="fas fa-user"></i><a href="/member-profile/<%= currentUser._id %>">View Profile</a></li>
      <li class="mobile_only">
        <i class="fas fa-envelope"></i>
        <a href="/inbox/<%= lastMessage?.messages?.receiver.id %>"
          >Messages</a
        >
      </li>
      <% if(currentUser && !currentUser.isCompany) { %>
      <li class="mobile_only"><i class="fas fa-list-alt"></i> <a href="/saved-list">Saved List</a></li>
      <% } %>
      <li><i class="fas fa-shopping-cart"></i><a href="/manage-orders">Manage Orders</a></li>
      <li><i class="fas fa-cog"></i><a href="/company-settings/account">Settings</a></li>
      <li><i class="fas fa-power-off"></i> <a href="/logout">Logout</a></li>
    </ul>
    <% } %>
  </div>
</div>
<!--===== Markup For "Members Profile Link" Ends Here =====-->
<% } %>


		<!--===== Markup For "Legal Pages" Starts From Here =====-->
		<section class="legal_pages_wrap">
			<div class="container">
				<div class="legal_page_title">
					<h3>Cookie Policy</h3>
					<h6>Last Updated: <span>November 18, 2021</span></h6>
				</div>

				<div class="single_legal_texts">
					<p>In accordance with the Federal Trade Commission Act (15 U.S. Code §41) (DPA), in order to make browsing the site as convenient as possible, the Data Controller uses portions of code installed inside the browser, which assist users in the provision of the service according to the purposes described (the "Cookies").</p>
					<p>A cookie is a piece of information (text file) stored on your device. When you visit our site, we set our own cookies (called first-party cookies) to store information on your device, such as your language preferences or login information. We also use 3rd-party cookies, which are cookies set by our partners (such as Facebook, Linkedin, Google, etc.).</p>
				</div>

				<div class="single_legal_texts">
					<h3>Why we use cookies</h3>
					<p>We use cookies and similar technologies (such as web beacons, pixels, tags, and scripts) to improve and personalize your experience, provide our services, analyze website performance, and for marketing purposes, as further detailed below.</p>
					<p>The duration of a cookie depends on its function. “Session cookies” are only active during your online session, while “persistent cookies” will stay active on your device after closing your browser.</p>
					<p><a href="javascript:void(0)" data-target="#cookieSettingModal" data-toggle="modal">Cookie Settings</a></p>
				</div>

				<div class="single_legal_texts">
					<h3>User Rights, Denial and Cancellation of Cookies Usage</h3>
					<p>At any time, without the consent of third parties, the User can manage preferences related to Cookies directly within the web browser and prevent or limit the use of this technology used by second and third parties.</p>
					<p>Find more information about deleting or controlling cookies at www.aboutcookies.org. (Note that this website is a third-party website. Therefore, we cannot ensure its accuracy, completeness or availability).</p>
					<p>It is also possible to set your browser to block all cookies, including cookies associated with our services, or to indicate when a cookie is being set by us. You can do this through the browser settings page of the browser you use.</p>
					<p>In the case of services provided by third parties, the User may also exercise the right to oppose the tracking by informing himself by means of the privacy policy of the third party, expressed in our privacy policy. Regardless of the set of information provided, the Data Controller informs that the User can use Your Online Choices. Through this service, it is possible to manage the tracking preferences of most advertising tools.</p>
					<p><span class="bold_texts">The following links may assist you in managing your cookies settings, or you can use the 'help' option in your internet browser for more details:</span></p>

					<div class="checked_items checked_links">
						<ul>
							<li><a href="https://support.microsoft.com/en/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a></li>
							<li><a href="http://www.google.com/support/chrome/bin/answer.py?hl=en&answer=95647" target="_blank">Google Chrome</a></li>
							<li><a href="https://support.mozilla.org/en/products/firefox/protect-your-privacy/cookies" target="_blank">Firefox</a></li>
							<li><a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac" target="_blank">Safari (OS X)</a></li>
							<li><a href="https://support.apple.com/en-gb/HT201265" target="_blank">Safari (iOS)</a></li>
							<li><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DAndroid&hl=en" target="_blank">Android</a></li>
						</ul>
					</div>

					<p>You can prevent Google Analytics from collecting and using data about you by downloading and installing the browser plug-in available <a href="https://tools.google.com/dlpage/gaoptout?hl=en-gb" target="_blank">here</a>. This creates an opt-out cookie that prevents the processing of your data. For more information about Google Analytics cookies, please see Google's help pages and privacy policy.</p>
					<p>We may update this Cookie Notice in the future and users will be sent an email. We also encourage you to periodically review this page for the latest information about cookies set by GABAZZO.</p>
				</div>

				<div class="single_legal_texts">
					<h3>Types of cookies</h3>

					<div class="cookie_types">
						<div class="single_cookie_type">
							<h5>Essential cookies</h5>
							<p>Some cookies are essential for our service to function and cannot be switched off in our systems. They are used to enable core functionality, such as authentication, security, connection stability, etc. You can always set your browser to block or alert you about these cookies, but this may affect how the website functions.</p>

							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="website_name"><p>Website</p></th>
											<th class="cookie_name"><p>Cookie Name</p></th>
											<th class="types_cookie"><p>Type</p></th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td class="website_name">
												<p>gabazzo.com</p>
											</td>
											<td class="cookie_name">
												<p>  connect.sid, sign_up_page</p>
											</td>
											<td class="types_cookie">
												<p>1st Party</p>
											</td>
										</tr>


										<tr>
											<td class="website_name">
												<p>google.com</p>
											</td>
											<td class="cookie_name">
												<p>_GRECAPTCHA, _dc_gtm_UA-xxxxxxxx, G_ENABLED_IDPS</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>cloudflare.com</p>
											</td>
											<td class="cookie_name">
												<p>__cfduid, __cf_bm, cf_ob_info, __cfruid, cf_use_ob</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>facebook.com</p>
											</td>
											<td class="cookie_name">
												<p>fbsr_</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>


										<tr>
											<td class="website_name">
												<p>forter.com</p>
											</td>
											<td class="cookie_name">
												<p>forterToken, ftr_blst_XX, ftr_XXX</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>imperva.com</p>
											</td>
											<td class="cookie_name">
												<p>incap_ses_, visid_incap_</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>perimeterx.com</p>
											</td>
											<td class="cookie_name">
												<p>_pxvid, _pxde, _pxXX, _pxff_XX, akacd_RWASP-default-phased-release, _px3</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>clickcease.com</p>
											</td>
											<td class="cookie_name">
												<p>__lotl, __lotr, _clck, _clsk, _cq_13904_v, _cq_duid, _cq_suid, _dc_gtm_UA-56648730-1</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>ubersuggest.com</p>
											</td>
											<td class="cookie_name">
												<p>__zlcid, _hjIncludedInPageviewSample, _hjIncludedInSessionSample, _vwo_uuid_v2, amp_cookie_testZ3wJzPHfBMeDnxlSceFCry</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>onetrust.com</p>
											</td>
											<td class="cookie_name">
												<p>eupubconsent, OptanonAlertBoxClosed, OptanonConsent</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="single_cookie_type">
							<h5>Analytics Cookies</h5>
							<p>Analytics cookies help us know which pages are popular and how visitors move around the site. We use them to count visits, check traffic sources, and measure and improve the website’s performance.</p>

							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="website_name"><p>Website</p></th>
											<th class="cookie_name"><p>Cookie Name</p></th>
											<th class="types_cookie"><p>Type</p></th>
											<th class="cookie_lifespan"><p>Lifespan</p></th>
										</tr>
									</thead>
									<tbody>

										<tr>
											<td class="website_name">
												<p>google.com</p>
											</td>
											<td class="cookie_name">
												<p>_gat_gtag_xxxxxxxxxxxxxxxxxxxxxxxxxxx, _gat_UA-XXXXXXX-X, __utmc, ___utmvc, _gclxxxx, NID, __utma, _ga, _gat, _gid, __utmt</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>456 Days</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>quantummetric.com</p>
											</td>
											<td class="cookie_name">
												<p>QMUserID, QMSessionID</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>365 days, Session</p>
											</td>
										</tr>


										<tr>
											<td class="website_name">
												<p>mixpanel.com</p>
											</td>
											<td class="cookie_name">
												<p>__mp_opt_in_out_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX, mp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX_mixpanel</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>365 days</p>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

						<div class="single_cookie_type">
							<h5>Marketing Cookies</h5>
							<p>Certain 3rd-party service providers and advertising partners manage our advertising on other websites. Such 3rd parties use cookies through our site to provide you with advertising on other websites based on your interests and preferences.</p>

							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="website_name"><p>Website</p></th>
											<th class="cookie_name"><p>Cookie Name</p></th>
											<th class="types_cookie"><p>Type</p></th>
											<th class="cookie_lifespan"><p>Lifespan</p></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="website_name">
												<p>youtube.com</p>
											</td>
											<td class="cookie_name">
												<p>CONSENT, YSC, VISITOR_INFO1_LIVE, GPS</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>365 Days</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>taboola.com</p>
											</td>
											<td class="cookie_name">
												<p>t_gid</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>365 days</p>
											</td>
										</tr>


										<tr>
											<td class="website_name">
												<p>doubleclick.net</p>
											</td>
											<td class="cookie_name">
												<p>test_cookie, IDE</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>365 days</p>
											</td>
										</tr>


										<tr>
											<td class="website_name">
												<p>facebook.com</p>
											</td>
											<td class="cookie_name">
												<p>fr, _fbp</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>90 days</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>bing.com</p>
											</td>
											<td class="cookie_name">
												<p>MUID, _uetvid, _uetsid</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>365 days</p>
											</td>
										</tr>

										<tr>
											<td class="website_name">
												<p>similarweb.com</p>
											</td>
											<td class="cookie_name">
												<p>__mp_opt_in_out_7ccb86f5c2939026a4b5de83b5971ed9, sc_is_visitor_unique, sgID</p>
											</td>
											<td class="types_cookie">
												<p>3rd Party</p>
											</td>
											<td class="cookie_lifespan">
												<p>365 days </p>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--===== Markup For "Legal Pages" Ends Here =====-->


		<!--===== Markup For "Registration Counter" Starts From Here =====-->
		<div class="registration_counter_wrap">
			<div class="container">
				<div class="registration_counter">
					<div class="single_count">
						<div class="heading">
							<h2>150+</h2>
						</div>
						<p>Registered Companies</p>
					</div>

					<div class="single_count">
						<div class="heading">
							<h2>350+</h2>
						</div>
						<p>Registered Members</p>
					</div>
				</div>
			</div>
		</div>
		<!--===== Markup For "Registration Counter" Ends Here =====-->


		<!--===== Markup For "Footer" Starts From Here =====-->
    <footer class="footer_wrap">
      <div class="footer_top">
        <div class="container">
          <div class="footer">
            <div class="single_part">
              <div class="footer_logo">
                <a href="/"
                  ><img
                    src="images/layout/gabazzo_logo_white.png"
                    class="img-fluid"
                    alt=""
                /></a>
              </div>
              <div class="site_links">
                <ul>
                  <li><a href="/contact-us">Contact Us</a></li>
                  <li><a href="/about-us">About</a></li>
                  <li><a href="/site-map">Sitemap</a></li>
                  <li><a href="/partnerships">Partnerships</a></li>
		  <li><a href="/investor-relations">Investor Relations</a></li>
		  <li><a href="/jobs-and-opportunities">Jobs & Opportunities</a></li>
		  <li><a href="/press-and-news">Press & News</a></li>
                </ul>
              </div>
              <div class="social_links">
                <ul>
                  <li>
                    <a
                      href="https://www.facebook.com/gabazzoBCT"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/company/gabazzo/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </li>
		  <li>
                    <a
                      href="https://discord.gg/RTDhKw4r99" target="_blank"><i class="fab fa-discord"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single_part">
              <h4>Members</h4>
              <div class="site_links">
                <ul>
                  <li><a href="/sign-up">Sign Up</a></li>
		  <li><a href="/trust-and-safety-members">Trust & Safety</a></li>
		  <li><a href="/ranking-system-members">Ranking System</a></li>
                </ul>
              </div>
            </div>
            <div class="single_part">
              <h4>Business</h4>
              <div class="site_links">
                <ul>
                  <li><a href="/company-sign-up-home">Register Business</a>
                  </li>
		  <li><a href="/study-buyer">Study Buyer</a>
                  </li>
		   <li><a href="/seller-league-system">League System</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single_part">
              <h4>Support</h4>
              <div class="site_links">
                <ul>
		  <li><a href="/help-center-buyer">Help Center</a></li>
                  <li><a href="/terms-and-conditions">Terms of Use</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="/cookie-policy">Cookie Policy</a></li>
                  <li><a href="/safety-for-members">Safety</a></li>
		  <li><a href="/covid-info">Covid-19 Info</a></li>
		  <li><a href="/intellectual-property-claims">IP Claims</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; 2021 Gabazzo. All Rights Reserved. Patent Pending
          </p>
        </div>
      </div>
    </footer>
    <!--===== Markup For "Footer" Ends Here =====-->


		<!--===== Markup For "Cookie Setting Modal" Starts From Here =====-->
		<div class="modal fade cookie_setting_modal" id="cookieSettingModal">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Cookie Settings</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<section id="cookieSettingtabs" class="cookie_setting_tab">
							<div class="nav" id="nav-tab" role="tablist">
								<a class="active" id="why_use_tab" data-toggle="tab" href="#why_use" role="tab" aria-controls="why_use" aria-selected="true">Why we use cookies</a>

								<a id="essential_tab" data-toggle="tab" href="#essential" role="tab" aria-controls="essential" aria-selected="false">Essential cookies</a>

								<a id="anlytics_tab" data-toggle="tab" href="#anlytics" role="tab" aria-controls="anlytics" aria-selected="false">Analytics Cookies</a>

								<a id="marketing_tab" data-toggle="tab" href="#marketing" role="tab" aria-controls="marketing" aria-selected="false">Marketing Cookies</a>
							</div>


							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="why_use" role="tabpanel" aria-labelledby="why_use_tab">
									<div class="cookie_setting_texts">
										<h3>Why we use cookies</h3>
										<p>We use cookies (such as web beacons, pixels, tags and scripts) to provide and improve services, personalize your experience, analyze performance, and for marketing purposes, as further detailed below.</p>
										<p>The duration of a cookie depends on its function. “Session cookies” are only active during your online session, while “persistent cookies” will stay active on your device after closing your browser.</p>
										<p>Find more information on our full <a href="javascript:void(0)">Cookie Policy</a>.</p>
									</div>
								</div>

								<div class="tab-pane fade" id="essential" role="tabpanel" aria-labelledby="essential_tab">
									<div class="cookie_setting_texts">
										<div class="cookie_switching">
											<div class="title">
												<h3>Essential cookies</h3>
											</div>


											<div class="cookie_switch">
												<span class="always_active">Always Active</span>
											</div>
										</div>

										<p>Some cookies are essential for our service to function and cannot be switched off in our systems. They are used to enable core functionality, such as authentication, security, connection stability, etc. You can always set your browser to block or alert you about these cookies, but this may affect how the website functions.</p>

										<p><a href="javascript:void(0)" data-target="#essentialCookiesModal" data-toggle="modal" data-dismiss="modal">Cookies Details</a></p>
									</div>
								</div>

								<div class="tab-pane fade" id="anlytics" role="tabpanel" aria-labelledby="anlytics_tab">
									<div class="cookie_setting_texts">
										<div class="cookie_switching">
											<div class="title">
												<h3>Analytics Cookies</h3>
											</div>

											<div class="cookie_switch">
												<div class="toggle">
													<input type="checkbox" name="" id="analyticCookies" checked>
													<label for="analyticCookies"></label>
												</div>
											</div>
										</div>

										<p>Analytics cookies help us know which pages are popular and how visitors move around the site. We use them to count visits, check traffic sources, and measure and improve the website’s performance.</p>

										<p><a href="javascript:void(0)" data-target="#analyticCookiesModal" data-toggle="modal" data-dismiss="modal">Cookies Details</a></p>
									</div>
								</div>

								<div class="tab-pane fade" id="marketing" role="tabpanel" aria-labelledby="marketing_tab">
									<div class="cookie_setting_texts">
										<div class="cookie_switching">
											<div class="title">
												<h3>Marketing Cookies</h3>
											</div>

											<div class="cookie_switch">
												<div class="toggle">
													<input type="checkbox" name="" id="marketingCookies" checked>
													<label for="marketingCookies"></label>
												</div>
											</div>
										</div>

										<p>Certain 3rd-party service providers and advertising partners manage our advertising on other websites. Such 3rd parties use cookies through our site to provide you with advertising on other websites based on your interests and preferences.</p>

										<p><a href="javascript:void(0)" data-target="#marketingCookiesModal" data-toggle="modal" data-dismiss="modal">Cookies Details</a></p>
									</div>
								</div>
							</div>
						</section>
					</div>

					<div class="modal-footer">
						<div class="save_setting_button">
							<button type="submit" class="btn gbtn">Save Setting</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--===== Markup For "Cookie Setting Modal" Ends Here =====-->


		<!--===== Markup For "Essential Cookies Modal" Starts From Here =====-->
		<div class="modal fade cookie_setting_modal" id="essentialCookiesModal">
			<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Essential Cookie Settings</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<div class="controlling_cookies">
							<div class="allow_all_cookies">
							</div>

							<div class="accordion" id="essentialCookieDetails">
								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> First Party Cookies
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseOne" data-toggle="collapse" aria-controls="collapseOne" id="headingOne">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseOne" class="collapse fade" aria-labelledby="headingOne" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> sign_up_page</li>
													<li><span>Host</span> gabazzo.com</li>
													<li><span>Type</span> 1st Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> connect.sid</li>
													<li><span>Host</span> gabazzo.com</li>
													<li><span>Type</span> 1st Party</li>
												</ul>
											</div>

										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> google.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseTwo" data-toggle="collapse" aria-controls="collapseTwo" id="headingTwo">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> _GRECAPTCHA,</li>
													<li><span>Host</span> google.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _dc_gtm_UA-xxxxxxxx</li>
													<li><span>Host</span> google.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> G_ENABLED_IDPS</li>
													<li><span>Host</span> google.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> cloudflare.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseThree" data-toggle="collapse" aria-controls="collapseThree" id="headingThree">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> __cfduid, __cf_bm</li>
													<li><span>Host</span> cloudflare.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> cf_ob_info, __cfruid</li>
													<li><span>Host</span> cloudflare.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> cf_use_ob</li>
													<li><span>Host</span> cloudflare.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> facebook.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseFour" data-toggle="collapse" aria-controls="collapseFour" id="headingFour">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> fbsr_</li>
													<li><span>Host</span> facebook.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> forter.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseFive" data-toggle="collapse" aria-controls="collapseFive" id="headingFive">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> forterToken</li>
													<li><span>Host</span> forter.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> ftr_blst_XX</li>
													<li><span>Host</span> forter.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> ftr_XXX</li>
													<li><span>Host</span> forter.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> imperva.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseSix" data-toggle="collapse" aria-controls="collapseSix" id="headingSix">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseSix" class="collapse fade" aria-labelledby="headingSix" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> incap_ses_</li>
													<li><span>Host</span> imperva.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> visid_incap_</li>
													<li><span>Host</span> imperva.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> perimeterx.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseSeven" data-toggle="collapse" aria-controls="collapseSeven" id="headingSeven">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseSeven" class="collapse fade" aria-labelledby="headingSeven" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> _pxvid, _pxde, _pxXX</li>
													<li><span>Host</span> perimeterx.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _pxff_XX, akacd_RWASP-default-phased-release</li>
													<li><span>Host</span> perimeterx.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _px3</li>
													<li><span>Host</span> perimeterx.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> clickcease.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseEight" data-toggle="collapse" aria-controls="collapseEight" id="headingEight">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseEight" class="collapse fade" aria-labelledby="headingEight" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> __lotl, __lotr, _clck, _clsk</li>
													<li><span>Host</span> clickcease.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _cq_13904_v, _cq_duid</li>
													<li><span>Host</span> clickcease.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _cq_suid, _dc_gtm_UA-56648730-1</li>
													<li><span>Host</span> clickcease.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> ubersuggest.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseNine" data-toggle="collapse" aria-controls="collapseNine" id="headingNine">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseNine" class="collapse fade" aria-labelledby="headingNine" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> __zlcid, _hjIncludedInPageviewSample,</li>
													<li><span>Host</span> ubersuggest.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _hjIncludedInSessionSample</li>
													<li><span>Host</span> ubersuggest.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _vwo_uuid_v2, amp_cookie_testZ3wJzPHfBMeDnxlSceFCry</li>
													<li><span>Host</span> ubersuggest.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> onetrust.com
												<input type="checkbox" disabled checked="checked" name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseTen" data-toggle="collapse" aria-controls="collapseTen" id="headingTen">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseTen" class="collapse fade" aria-labelledby="headingTen" data-parent="#essentialCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> eupubconsent</li>
													<li><span>Host</span> onetrust.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> OptanonAlertBoxClosed</li>
													<li><span>Host</span> onetrust.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> OptanonConsent</li>
													<li><span>Host</span> onetrust.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="go_back_to_list">
							<a href="javascript:void(0)" data-target="#cookieSettingModal" data-toggle="modal" data-dismiss="modal" class="gbtn gbtn_orange"><img src="../images/back_icon_white.png" alt=""> Back to Cookie List</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--===== Markup For "Essential Cookies Modal" Ends Here =====-->


		<!--===== Markup For "Analytic Cookies Modal" Starts From Here =====-->
		<div class="modal fade cookie_setting_modal" id="analyticCookiesModal">
			<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Analytic Cookie Settings</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<div class="controlling_cookies">
							<div class="allow_all_cookies">
								<label class="check"> Allow All Cookies
									<input type="checkbox" class="check_all_analytic_cookies" checked name="cookiesLists">
									<span class="checkmark"></span>
								</label>
							</div>

							<div class="accordion" id="analyticCookieDetails">
								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> google.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseOne" data-toggle="collapse" aria-controls="collapseOne" id="headingOne">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseOne" class="collapse fade" aria-labelledby="headingOne" data-parent="#analyticCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> _gat_gtag_xxxxxxxxxxxxxxxxxxxxxxxxxxx, _gat_UA-XXXXXXX-X</li>
													<li><span>Host</span> google.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> __utmc, ___utmvc, _gclxxxx, NID, __utma</li>
													<li><span>Host</span> google.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _ga, _gat, _gid, __utmt</li>
													<li><span>Host</span> google.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> quantummetric.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseTwo" data-toggle="collapse" aria-controls="collapseTwo" id="headingTwo">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#analyticCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> QMUserID</li>
													<li><span>Host</span> quantummetric.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> QMSessionID</li>
													<li><span>Host</span> quantummetric.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> mixpanel.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseThree" data-toggle="collapse" aria-controls="collapseThree" id="headingThree">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#analyticCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> __mp_opt_in_out_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
													<li><span>Host</span> mixpanel.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> mp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX_mixpanel</li>
													<li><span>Host</span> mixpanel.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="go_back_to_list">
							<a href="javascript:void(0)" data-target="#cookieSettingModal" data-toggle="modal" data-dismiss="modal" class="gbtn gbtn_orange"><img src="../images/back_icon_white.png" alt=""> Back to Cookie List</a>
						</div>
						<div class="save_setting_button">
							<button type="submit" class="btn gbtn">Save Setting</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--===== Markup For "Analytic Cookies Modal" Ends Here =====-->


		<!--===== Markup For "Marketing Cookies Modal" Starts From Here =====-->
		<div class="modal fade cookie_setting_modal" id="marketingCookiesModal">
			<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Marketing Cookie Settings</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<div class="controlling_cookies">
							<div class="allow_all_cookies">
								<label class="check"> Allow All Cookies
									<input type="checkbox" class="check_all_marketing_cookies" checked name="cookiesLists">
									<span class="checkmark"></span>
								</label>
							</div>

							<div class="accordion" id="marketingCookieDetails">
								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> youtube.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseOne" data-toggle="collapse" aria-controls="collapseOne" id="headingOne">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseOne" class="collapse fade" aria-labelledby="headingOne" data-parent="#marketingCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> CONSENT</li>
													<li><span>Host</span> youtube.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> YSC</li>
													<li><span>Host</span> youtube.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> VISITOR_INFO1_LIVE</li>
													<li><span>Host</span> youtube.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> GPS</li>
													<li><span>Host</span> youtube.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> taboola.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseTwo" data-toggle="collapse" aria-controls="collapseTwo" id="headingTwo">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#marketingCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> t_gid</li>
													<li><span>Host</span> taboola.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>


										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> doubleclick.net
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseThree" data-toggle="collapse" aria-controls="collapseThree" id="headingThree">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#marketingCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> test_cookie</li>
													<li><span>Host</span> doubleclick.net</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> IDE</li>
													<li><span>Host</span> doubleclick.net</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> facebook.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseFour" data-toggle="collapse" aria-controls="collapseFour" id="headingFour">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#marketingCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> fr</li>
													<li><span>Host</span> facebook.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _fdp</li>
													<li><span>Host</span> facebook.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> bing.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseFive" data-toggle="collapse" aria-controls="collapseFive" id="headingFive">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#marketingCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> MUID</li>
													<li><span>Host</span> bing.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _uetvid</li>
													<li><span>Host</span> bing.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> _uetsid</li>
													<li><span>Host</span> bing.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="single_item">
									<div class="site_view">
										<div class="site_name">
											<label class="check"> similarweb.com
												<input type="checkbox" checked name="cookiesLists">
												<span class="checkmark"></span>
											</label>
										</div>

										<div class="view_cookie">
											<a class="collapsed" href="javascript:void(0)" data-target="#collapseSix" data-toggle="collapse" aria-controls="collapseSix" id="headingSix">
												<h6>View Cookies</h6>
											</a>
										</div>
									</div>

									<div id="collapseSix" class="collapse fade" aria-labelledby="headingSix" data-parent="#marketingCookieDetails">
										<div class="cookies_details">
											<div class="single_details">
												<ul>
													<li><span>Name</span> __mp_opt_in_out_7ccb86f5c2939026a4b5de83b5971ed9</li>
													<li><span>Host</span> similarweb.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> sc_is_visitor_unique</li>
													<li><span>Host</span> similarweb.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>

											<div class="single_details">
												<ul>
													<li><span>Name</span> sgID</li>
													<li><span>Host</span> similarweb.com</li>
													<li><span>Type</span> 3rd Party</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="go_back_to_list">
							<a href="javascript:void(0)" data-target="#cookieSettingModal" data-toggle="modal" data-dismiss="modal" class="gbtn gbtn_orange"><img src="../images/back_icon_white.png" alt=""> Back to Cookie List</a>
						</div>
						<div class="save_setting_button">
							<button type="submit" class="btn gbtn">Save Setting</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--===== Markup For "Marketing Cookies Modal" Ends Here =====-->



		<!--===== Markup For "" Starts From Here =====-->
		<!--===== Markup For "" Ends Here =====-->


		<!--jQuery Main Libraty Latest Version-->
		<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
		<!--Bootstrap v4.5.3 JS File-->
		<script type="text/javascript" src="js/popper.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<!--Custom Script JS File-->
		<script type="text/javascript" src="js/updatedCustom.js"></script>
		<script src="js/autocomplete.js" type="text/javascript"></script>
		<!--Custom JavaScript-->
		<script type="text/javascript">
		// Force Body To Has Class Open For Modal
		$(document).on('hidden.bs.modal', function (event) {
			if ($('.modal:visible').length) {
				$('body').addClass('modal-open');
			}
		});

		$(document).ready(function() {
			$('.go_back_to_list .gbtn').on('click', function(e){
				$('.collapse').removeClass('show');
				$('.view_cookie a').addClass('collapsed');
			});
		});

		$(document).ready(function(){
			$('.check_all_essential_cookies').on('click', function(e){
				$this = this;
				$.each($(this).parents('.controlling_cookies').find('input'), function(i, item){
					$(item).prop('checked', $this.checked);
				});
			});

			$('.check_all_analytic_cookies').on('click', function(e){
				$this = this;
				$.each($(this).parents('.controlling_cookies').find('input'), function(i, item){
					$(item).prop('checked', $this.checked);
				});
			});

			$('.check_all_marketing_cookies').on('click', function(e){
				$this = this;
				$.each($(this).parents('.controlling_cookies').find('input'), function(i, item){
					$(item).prop('checked', $this.checked);
				});
			});
		});
		</script>

	</body>

</html>
