<% layout('layouts/indexBoilerplate') -%> <% var alph = ["a", "b", "c", "d",
"e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t",
"u", "v", "w", "x", "y", "z"] %> <% var alpha = ["aa", "bb", "cc", "dd", "ee",
"ff", "gg", "hh", "ii", "jj", "kk", "ll", "mm", "nn", "oo", "pp", "qq", "rr",
"ss", "tt", "uu", "vv", "wx", "xx", "yy", "zz"] %>

<!--===== Markup For "Get Services" Starts From Here =====-->
<section class="get_services">
  <div class="container">
    <div class="easiest_way_box">
      <div class="heading">
        <h2>Easiest Way To Get Services</h2>
      </div>
      <p style="font-size: 20px">
        ABC Process, Convenience at your Finger Tips. We’ve made it easy for
        everyone to purchase a Service Directly through Search.
      </p>
    </div>

    <div class="steps">
      <div class="single_step">
        <div class="icon">
          <img src="images/layout/task_icon.png" class="img-fluid" alt="" />
        </div>
        <div class="heading">
          <h3>Plan Your <span class="break"></span> Task</h3>
        </div>
        <div class="para_texts">
          <p>
            Have Project Description, Instructions, Relevant Files, Budget, &
            Delivery Details Ready.
          </p>
        </div>
      </div>

      <div class="single_step">
        <div class="icon">
          <img src="images/layout/hand_icon.png" class="img-fluid" alt="" />
        </div>
        <div class="heading">
          <h3>Choose Best <span class="break"></span> Service</h3>
        </div>
        <div class="para_texts">
          <p>
            Review Company Details & Service Ports, see if they match your
            needs.
          </p>
        </div>
      </div>

      <div class="single_step">
        <div class="icon">
          <img
            src="images/layout/hand_shake_icon.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="heading">
          <h3>Land a <span class="break"></span> Deal</h3>
        </div>
        <div class="para_texts">
          <p>Message Each Other, Receive PDF FIles & Track your Order :)</p>
        </div>
      </div>

      <div class="single_step">
        <div class="icon">
          <img src="images/layout/share_icon.png" class="img-fluid" alt="" />
        </div>
        <div class="heading">
          <h3>Share Your <span class="break"></span> Experience</h3>
        </div>
        <div class="para_texts">
          <p>We appreciate any Feedback to make your Experience better!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== Markup For "Get Services" Ends Here =====-->

<section class="services_companies">
  <div class="container">
    <!--===== Markup For "Popular Services" Starts From Here =====-->
    <div class="single_slider popular_services owl_controls_outer">
      <div class="heading">
        <h2>Popular Services</h2>
        <div class="head_line">
          <span></span>
        </div>
      </div>

      <div class="owl-carousel">
        <div class="single_services">
          <a href="/search?category=landscaping services">
            <div class="service_image">
              <img
                defer
                data-src="images/layout/landscaping_services.png"
                class="lazyload img-fluid"
                alt="popular service"
                style="height: 265px !important"
              />
            </div>
            <div class="service_title">
              <h6>Landscaping Services</h6>
            </div>
          </a>
        </div>

        <div class="single_services">
          <a href="/search?category=junk removal">
            <div class="service_image">
              <img
                defer
                data-src="images/layout/junk_removal_services.png"
                class="lazyload img-fluid"
                alt="popular service"
                style="height: 265px !important"
              />
            </div>
            <div class="service_title">
              <h6>Junk Removal Services</h6>
            </div>
          </a>
        </div>

        <div class="single_services">
          <a href="/search?category=plumbing services">
            <div class="service_image">
              <img
                defer
                data-src="images/layout/plumbing_services.png"
                class="lazyload img-fluid"
                alt="popular service"
                style="height: 265px !important"
              />
            </div>
            <div class="service_title">
              <h6>Plumbing Services</h6>
            </div>
          </a>
        </div>

        <div class="single_services">
          <a href="/search?category=vehicle repair">
            <div class="service_image">
              <img
                defer
                data-src="images/layout/vehicle_repair_services.png"
                class="lazyload img-fluid"
                alt="popular service"
                style="height: 265px !important"
              />
            </div>
            <div class="service_title">
              <h6>Vehicle Repair Services</h6>
            </div>
          </a>
        </div>

        <div class="single_services">
          <a href="/search?category=roofing services">
            <div class="service_image">
              <img
                defer
                data-src="images/layout/Roofing.jpg"
                class="lazyload img-fluid"
                alt="popular service"
                style="height: 265px !important"
              />
            </div>
            <div class="service_title">
              <h6>Roofing Services</h6>
            </div>
          </a>
        </div>

        <div class="single_services">
          <a href="/search?category=painting services">
            <div class="service_image">
              <img
                defer
                data-src="images/indoor-work/Painting Services.jpg"
                class="lazyload img-fluid"
                alt="popular service"
                style="height: 265px !important"
              />
            </div>
            <div class="service_title">
              <h6>Painting Services</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--===== Markup For "Popular Services" Ends Here =====-->

    <!--===== Markup For "Nearby Companies" Starts From Here =====-->
    <div class="single_slider nearby_companies owl_controls_outer">
      <div class="heading">
        <h2>Nearby Companies</h2>
        <div class="head_line">
          <span></span>
        </div>
      </div>

      <div class="owl-carousel">
        <% companies.forEach(function(company, i) { %>
        <div class="single_company" style="min-height: 450px">
          <div class="logo_info">
            <div class="logo">
              <a href="/company-profile/<%= company._id %>"
                ><img
                  src="<%= company.logo %>"
                  class="img-fluid"
                  alt="Company Logo"
              /></a>
              <% if(company.companyStatus) {%>
              <span class="activity_status online_status"></span>
              <%} else {%>
              <span class="activity_status offline_status"></span>
              <% }%>
            </div>
            <div class="info" style="height: 80px">
              <h5><%= company.companyName %></h5>
              <ul>
                <li> <b><%= company.location %> </b> </li>
                <li>
                  <% if(company.isHoliday) { %> <b> Closed </b> <% } else { %> <b> <%=
                  company.startTime + " - " + company.endTime  %> </b> <% } %>
                </li>
              </ul>
            </div>
          </div>
          <div class="about">
            <h6>About</h6>
            <div class="para_texts">
              <p class="more" style="min-height: 100px"><%= company.about %></p>
            </div>
          </div>
          <div class="action_buttons">
            <ul>
              <% if(!currentUser) { %>
              <li>
                <a
                  class="gbtn gbtn_dark"
                  href="javascript:void(0)"
                  data-target="#loginForm"
                  data-toggle="modal"
                  >Message</a
                >
              </li>
              <% } else {%>
              <li>
                <a
                  class="gbtn gbtn_dark"
                  href="javascript:void(0)"
                  data-target="#messageModal<%= i %>"
                  data-toggle="modal"
                  >Message</a
                >
              </li>
              <% }%>
              <li>
                <a
                  class="gbtn gbtn_dark_bdr"
                  href="/company-profile/<%= company._id %>"
                  >View More</a
                    >
              </li>
            </ul>
          </div>
        </div>
        <% })%>
      </div>
    </div>
    <!--===== Markup For "Nearby Companies" Ends Here =====-->

    <!--===== Markup For "Needed Home Services" Starts From Here =====-->
    <div class="single_slider needed_home_services owl_controls_outer">
      <div class="heading">
        <h2>Most Needed Home Services</h2>
        <div class="head_line">
          <span></span>
        </div>
      </div>
      <div class="owl-carousel">
        <% for (var i = 0; i < service.length; i++) { %> <%
        if(service[i].existingService){ %>
        <div class="single_home_service">
          <div class="service_image">
            <a href="/service/<%= service[i].existingService._id %>"
              ><img
                class="lazyload img-fluid"
                width="406"
                height="109"
                defer
                data-src="<%= service[i].existingService?.images[0]?.url %>"
                alt="Service image"
            /></a>
            <h6><%= service[i].existingService.category %></h6>
          </div>
          <div class="service_details">
            <div class="logo_info">
              <div class="logo">
                <a href="/service/<%= service[i].existingService._id %>"
                  ><img
                    class="lazyload img-fluid"
                    width="406"
                    height="109"
                    defer
                    data-src="<%= service[i].logo %>"
                    alt="Company logo"
                /></a>
              </div>
              <div class="info">
                <a
                  href="/service/<%= service[i].existingService._id %>"
                  style="color: inherit; text-decoration: inherit"
                >
                  <h5 style="text-transform: capitalize">
                    <%= service[i].companyName %>
                  </h5>
                  <h6>
                    $<%= service[i].existingService.priceFrom %> - $<%=
                    service[i].existingService.priceTo %>
                  </h6>

                  <div class="overall_ratings">
                    <% let intVal = parseInt(service[i].averageReview), flag =
                    false; leftOver = 0 %> <% for(let i=0; i< intVal; i++){ %>
                    <i class="fas fa-star"></i>
                    <% }%> <% leftOver = 5 - intVal %> <%
                    if(!Number.isInteger(service[i].averageReview)){ %> <% let
                    decimalPart = service[i].averageReview % 1; %> <%
                    if(decimalPart == 0.5){ %>
                    <i class="fas fa-star-half-alt"></i>
                    <% flag = true %> <% } else if(Math.round(decimalPart) >
                    0.5) { %>
                    <i class="fas fa-star"></i>
                    <% flag = true %> <% } %> <% }%> <% if(flag) {%> <% leftOver
                    = leftOver - 1 %> <% } %> <% for(let i=0; i< leftOver; i++){
                    %>
                    <i class="far fa-star"></i>
                    <% }%>
                    <span><%= service[i].reviews?.length %> Reviews</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="action_buttons">
              <ul>
                <% if(!currentUser) { %>
                <li>
                  <a
                    class="gbtn"
                    href="javascript:void(0)"
                    data-target="#loginForm"
                    data-toggle="modal"
                    >Message</a
                  >
                </li>
                <% } else { %>
                <li>
                  <a
                    class="gbtn"
                    href="javascript:void(0)"
                    data-target="#serviceModal<%= i %>"
                    data-toggle="modal"
                    >Message</a
                  >
                </li>
                <% } %>
                <li>
                  <a
                    class="gbtn gbtn_dark_bdr"
                    href="/service/<%= service[i].existingService._id %>"
                    >View More</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <%} %> <% } %>
      </div>
    </div>
    <!--===== Markup For "Needed Home Services" Ends Here =====-->
  </div>
</section>

<!--===== Markup For "Safety Tips" Starts From Here =====-->
<section class="safety_tips_wrap">
  <div class="container">
    <div class="heading">
      <h2>View Saftey Tips Whether You’re Buying or Selling Services</h2>
    </div>

    <div class="safety_tips">
      <div class="single_safety">
        <div class="safety_icon">
          <img src="images/layout/shield_icon.png" class="img-fluid" alt="" />
        </div>
        <div class="safety_contents">
          <div class="heading">
            <h3>Safety For Contractors</h3>
          </div>
          <div class="para_texts">
            <p>
              Here at Gabazzo, we want to make sure you have important safety
              Tips before accepting a job. Take a moment to read our Tips below.
            </p>
          </div>
          <div class="clickable_link">
            <a class="gbtn" href="/safety-seller">Learn More</a>
          </div>
        </div>
      </div>

      <div class="single_safety">
        <div class="safety_icon">
          <img src="images/layout/shield_icon.png" class="img-fluid" alt="" />
        </div>
        <div class="safety_contents">
          <div class="heading">
            <h3>Safety For Members</h3>
          </div>
          <div class="para_texts">
            <p>
              Here at Gabazzo, we want to make sure you have important safety
              Tips before Hiring a Contractor. Take a moment to read our Tips
              below.
            </p>
          </div>
          <div class="clickable_link">
            <a class="gbtn" href="/safety-buyer">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== Markup For "Safety Tips" Ends Here =====-->

<!--===== Markup For "Advantages" Starts From Here =====-->
<div class="advantages">
  <div class="container">
    <div class="pros_image pros_wrap">
      <div class="pros">
        <div class="heading">
          <h2>Reliable Contractors at your Service</h2>
        </div>

        <div class="points">
          <ul>
            <li>
              <div class="heading">
                <h3>Purchase with Confidence</h3>
              </div>
              <div class="para_texts">
                <p>
                  Gabazzo makes sure EVERY company is Verified before signing
                  up.
                </p>
              </div>
            </li>
            <li>
              <div class="heading">
                <h3>Analyze Company Profiles</h3>
              </div>
              <div class="para_texts">
                <p>
                  Get to know Contractors before you hire. Look over their
                  Business Profile and know the Service you’ve been looking for
                  easily.
                </p>
              </div>
            </li>
            <li>
              <div class="heading">
                <h3>Know the Price upfront</h3>
              </div>
              <div class="para_texts">
                <p>
                  Search for a Contractor Within Minutes, chat with them and
                  know exactly what you’ll pay. No Hourly rates, only a FIXED
                  price.
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="clickable_link">
          <a class="gbtn" href="/sign-up">Book a Contractor</a>
        </div>
      </div>

      <div class="image">
        <img
          src="images/layout/reliable_contractors.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>

    <div class="image_pros pros_wrap">
      <div class="image">
        <img src="images/layout/right_tools.png" class="img-fluid" alt="" />
      </div>

      <div class="pros">
        <div class="heading">
          <h2>Give Your Business The Right Tools</h2>
        </div>

        <div class="points">
          <ul>
            <li>
              <div class="heading">
                <h3>Why do business with Gabazzo?</h3>
              </div>
              <div class="para_texts">
                <p>
             Create your Free Company Profile, Display your Service Ports. 
             Receive FREE leads and make safe & secure Transparent 
             Transactions.
                </p>
              </div>
            </li>
            <li>
              <div class="heading">
                <h3>Benefits for the Future</h3>
              </div>
              <div class="para_texts">
                <p>
              Receive Business Tips, Software, and other tools to run your 
              business. When BETA ends we’re releasing software to 
              manage your company in one place.
                </p>
              </div>
            </li>
            <li>
              <div class="heading">
                <h3>
                  Payment (Coming After 500 Contractors
                  Register)
                </h3>
              </div>
              <div class="para_texts">
                <p>
                We have developed a Tracking Service System, the buyer pays the 
                Invoice first then the funds will get released immediately to you 
                once the work service order is completed. We’ve also created a 
                Milestone Payment plans.
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="clickable_link">
          <a class="gbtn" href="/become-a-seller-overview">Become a Seller</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== Markup For "Advantages" Ends Here =====-->

<!-- Message modal for compnaies -->
<% for(let i = 0; i< companies.length; i++) { %>
<!--===== Markup For "Message Popup" Starts From Here =====-->
<div class="modal fade msg_popup_modal" id="messageModal<%=i%>">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Send a Message</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="msg_pop_box">
          <div class="company_info">
            <div class="company_logo_name">
              <div class="company_logo">
                <a href="javascript:void(0)"
                  ><img
                    src="<%= companies[i].logo %>"
                    class="img-fluid"
                    alt="Company Logo"
                /></a>
                <% if(companies[i].companyStatus) {%>
                <span class="activity_status online_status"></span>
                <% } else {%>
                <span class="activity_status offline_status"></span>
                <% }%>
              </div>
              <div class="company_name">
                <h5><%= companies[i].companyName %></h5>
                <% if(companies[i].companyStatus) {%>
                <h6>Online</h6>
                <% } else {%>
                <h6>Away</h6>
                <% }%>
              </div>
            </div>

            <div class="need_requirements">
              <h5>Please Include:</h5>

              <ul>
                <li>Project Description</li>
                <li>Specific Instructions</li>
                <li>Relevant Files</li>
                <li>Your Budget</li>
                <li>Delivery Time</li>
              </ul>
            </div>
          </div>

          <div class="msg_box_wrap">
            <div class="time_zone">
              <h5>Time Zone: <span>10:53 AM</span></h5>
            </div>

            <form
              action="../message/<%= companies[i]._id %>"
              enctype="multipart/form-data"
              method="POST"
            >
              <div class="msg_box">
                <textarea
                  name="message"
                  id="myText"
                  placeholder="Type your message..."
                  cols="30"
                  rows="10"
                  class="form-control"
                ></textarea>

                <div class="indicator_attach">
                  <div class="character_indicator grid_item">
                    <h6>0/2,500</h6>
                  </div>
                  <div class="attach_button">
                    <div class="attach_file">
                      <label class="attachment">
                        <input
                          type="file"
                          name="attachments"
                          id="<%= companies[i]._id %>"
                          class="inputfile inputfile-1"
                          data-multiple-caption="{count} files selected"
                          multiple
                        />
                        <label
                          id="<%= companies[i]._id+2 %>"
                          for="<%= companies[i]._id %>"
                          ><i class="fa fa-paperclip" aria-hidden="true"></i
                        ></label>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="submit_button">
                <button class="btn gbtn" type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== Markup For "Message Popup" Ends Here =====-->
<% } %>

<!-- Message modal for most needed home services -->
<% for(let i = 0; i< service.length; i++) { %> <%
if(service[i].existingService){ %>
<!--===== Markup For "Message Popup" Starts From Here =====-->
<div class="modal fade msg_popup_modal" id="serviceModal<%=i%>">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Send a Message</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="msg_pop_box">
          <div class="company_info">
            <div class="company_logo_name">
              <div class="company_logo">
                <a href="javascript:void(0)"
                  ><img
                    src="<%= service[i].logo %>"
                    class="img-fluid"
                    alt="Company Logo"
                /></a>
              </div>
              <div class="company_name">
                <h5><%= service[i].companyName %></h5>
              </div>
            </div>

            <div class="need_requirements">
              <h5>Please Include:</h5>

              <ul>
                <li>Project Description</li>
                <li>Specific Instructions</li>
                <li>Relevant Files</li>
                <li>Your Budget</li>
                <li>Delivery Time</li>
              </ul>
            </div>
          </div>

          <div class="msg_box_wrap">
            <div class="time_zone">
              <h5>Time Zone: <span>10:53 AM</span></h5>
            </div>

            <form
              action="../message/<%= service[i]._id %>"
              enctype="multipart/form-data"
              method="POST"
            >
              <div class="msg_box">
                <textarea
                  name="message"
                  id="myText"
                  placeholder="Type your message..."
                  cols="30"
                  rows="10"
                  class="form-control"
                ></textarea>

                <div class="indicator_attach">
                  <div class="character_indicator grid_item">
                    <h6>0/2,500</h6>
                  </div>
                  <div class="attach_button">
                    <div class="attach_file">
                      <label class="attachment">
                        <input
                          type="file"
                          name="attachments"
                          id="service<%= service[i]._id %>"
                          class="inputfile inputfile-1"
                          data-multiple-caption="{count} files selected"
                          multiple
                        />
                        <label
                          id="service<%= service[i]._id+2 %>"
                          for="service<%= service[i]._id %>"
                          ><i class="fa fa-paperclip" aria-hidden="true"></i
                        ></label>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="submit_button">
                <button class="btn gbtn" type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== Markup For "Message Popup" Ends Here =====-->
<% } %> <% } %>

<!--===== Markup For "Login Form" Starts From Here =====-->
<div class="modal fade creating_list_modal" id="loginForm">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Login to Send the Message</h4>
        <a href="javascript:void(0)" class="close" data-dismiss="modal"
          >&times;</a
        >
      </div>
      <div class="modal-body" style="padding: 0">
        <section class="registration_form">
          <div class="container_gbz">
            <div class="">
              <div class="sign_in_wrap">
                <div class="form_wrapper">
                  <form action="/login" method="POST">
                    <div class="form">
                      <div class="form-group">
                        <label for="">Username</label>
                        <input
                          type="text"
                          name="username"
                          required
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <label for="">Password</label>
                        <input
                          type="password"
                          name="password"
                          required
                          class="form-control"
                        />
                      </div>
                      <div class="form-row">
                        <div class="form-group col-6">
                          <label class="checkbox">
                            <input type="checkbox" name="" value="" checked />
                            <span class="checkmark"></span>
                            Remember Me
                          </label>
                        </div>
                        <div class="form-group col-6 text-right">
                          <a href="/forgot-password">Forgot Password?</a>
                        </div>
                      </div>
                      <div class="create_account_button mt-0">
                        <button type="submit" class="nav-link gbtn">
                          Sign In
                        </button>
                      </div>
                      <div class="or_text">
                        <h4>OR</h4>
                      </div>
                      <div class="form_text text-center">
                        <span
                          >By clicking Sign In on Gabazzo OR with Facebook OR Sign In with
                          Google, you agree to the
                          <a href="/terms-and-conditions">Terms of Use</a> and
                          <a href="/privacy-policy">Privacy Policy</a>.</span
                        >
                      </div>
                      <div class="google_fb_sign_up">
                        <ul>
                          <li class="facebook">
                            <a href="/auth/facebook"
                              ><img
                                src="../images/icons/facebook_icon.png"
                                alt=""
                              />Sign In With Facebook</a
                            >
                          </li>
                          <li class="google">
                            <a href="/auth/google"
                              ><img
                                src="../images/icons/google_icon.png"
                                alt=""
                              />Sign In With Google</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </form>
                  <div class="form_bottom">
                    <h6>
                      Don't have an account? <a href="/sign-up">Sign Up</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!--===== Markup For "Login Form" Ends Here =====-->
